---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/shops/FabBeads?api_key=4j3amz573gly866229iixzri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - 5ZF6muL4pKvrNCpXIgtssKlYXj8F
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9880'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"results":[{"shop_id":5262404,"shop_name":"FabBeads","user_id":5682253,"creation_tsz":1204836050,"title":"Beads,
        Findings, Chain, Charms, Brass, Pewter, Mykonos","announcement":"Flat rate
        shipping everywhere! Coupon codes available. Click &quot;Read More&quot; below
        for details.\r\n\r\nCoupon codes are for product purchases, excluding shipping
        or taxes.\r\n\r\nLARGE ORDER DISCOUNT CODES:\r\nOrders over $50 receive 5%
        off .. coupon code: 5over50\r\nOrders over $100 receive 10% off .. coupon
        code: 10over100\r\nOrders over $200 receive 15% off .. coupon code: 15over200\r\n\r\nCANADIAN
        BUYERS LARGE ORDER DISCOUNT CODES IN CAN[...]
- request:
    method: get
    uri: https://openapi.etsy.com/v2/shops/5262404/listings/active?api_key=4j3amz573gly866229iixzri&includes=MainImage&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - flQL3ekjt77_VVW5PIOBChe9zof_
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9879'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":1630,"results":[{"listing_id":180890736,"state":"active","user_id":5682253,"category_id":69171721,"title":"Round
        10 mm Jump Ring, 13 Gauge, Matte Black, 12 Pc. MB18","description":"Looking
        for a sturdy, strong jump ring to keep your designs secure? This is it! This
        13 gauge, 10 mm brass jump ring in matte black will hold your designs together
        securely.\n\nThis is a true black finish, not gunmetal. The durable finish
        is plated, not a patina and won&#39;t rub off.\n\nQUANTITY: 12\n\nSIZE: 10
        mm, 13 gauge\n\nFINISH: Matte black plated brass. Lead & nickel free.\n\nFor
        more matte black findings and chain: https:\/\/www.etsy.com\/ca\/shop\/FabBeads?section_id=5407055","creation_tsz":1487981414,"ending_tsz":1498345814,"original_creation_tsz":1393525057,"last_modified_tsz":1487981414,"price":"2.50","currency_code":"USD","quantity":4,"tags":["jump
        ring","brass","canada","round","13 gauge","10 mm","13 gauge jump ring","10
        mm jump ring","round jump ring","fabbeads","black","matte black","black jump
        ring"],"category_path":["Supplies","Handmade","Findings"],"category_path_ids":[69150433,69151267,69171721],"materials":["brass"],"shop_section_id":5407055,"featured_rank":null,"state_tsz":1467174726,"url":"https:\/\/www.etsy.com\/listing\/180890736\/round-10-mm-jump-ring-13-gauge-matte?utm_source=madmimi&utm_medium=api&utm_campaign=api","views":631,"num_favorers":82,"shipping_template_id":11940493,"processing_min":3,"processing_max":4,"who_made":"someone_else","is_supply":"true","when_made":"2010_2017","item_weight":null,"item_weight_units":null,"item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"in","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","language":"en-US","has_variations":false,"taxonomy_id":712,"taxonomy_path":["Craft
        Supplies & Tools","Jewelry & Beading Supplies","Findings & Hardware","Jump
        & Split Rings"],"used_manufacturer":false,"MainImage":{"listing_image_id":569994771,"hex_code":null,"red":null,"green":null,"blue":null,"hue":null,"saturation":null,"brightness":null,"is_black_and_white":null,"creation_tsz":null,"listing_id":180890736,"rank":null,"url_75x75":"https:\/\/img1.etsystatic.com\/018\/0\/5262404\/il_75x75.569994771_8pzh.jpg","url_170x135":"https:\/\/img1.etsystatic.com\/018\/0\/5262404\/il_170x135.569994771_8pzh.jpg","url_570xN":"https:\/\/img1.etsystatic.com\/018\/0\/5262404\/il_570xN.569994771_8pzh.jpg","url_fullxfull":"https:\/\/img1.etsystatic.com\/018\/0\/5262404\/il_fullxfull.569994771_8pzh.jpg","full_height":null,"full_width":null}},{"listing_id":172308278,"state":"active","user_id":5682253,"category_id":69171721,"title":"2
        Inch Ball Headpins, Matte Black, 20 Gauge, 50 Pc. MB12","description":"These
        solid brass, matte black, two-inch ball tipped headpins are lead and nickel
        free, professionally finished and won&#39;t tarnish. These are great when
        you need a decorative head pin.\n\nQUANTITY: 50\n\nSIZE: 50 mm (2 inch), 20
        Gauge\n\nFINISH: Matte black plated brass. Lead & nickel [...]
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/180890736/images?api_key=4j3amz573gly866229iixzri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - l76LXbg0_NPc1pSpRldun38lTist
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9878'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      stri[...]
- request:
    method: get
    uri: https://openapi.etsy.com/v2/listings/172308278/images?api_key=4j3amz573gly866229iixzri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - 32sWkhwz35SzB9Xu8KnE_FbcCr7k
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9877'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"results":[{"listing_image_id":537847546,"hex_code":"72675B","red":114,"green":103,"blue":91,"hue":31,"saturation":20,"brightness":44,"is_black_and_white":false,"creation_tsz":1386559707,"listing_id":172308278,"rank":1,"url_75x75":"https:\/\/img0.etsystatic.com\/030\/0\/5262404\/il_75x75.537847546_5h1r.jpg","url_170x135":"https:\/\/img0.etsystatic.com\/030\/0\/5262404\/il_170x135.537847546_5h1r.jpg","url_570xN":"https:\/\/img0.etsystatic.com\/030\/0\/5262404\/il_570xN.537847546_5h1r.jpg","url_fullxfull":"https:\/\/img0.etsystatic.com\/030\/0\/5262404\/il_fullxfull.537847546_5h1r.jpg","full_height":1000,"full_width":1000}],"params":{"listing_id":"172308278"},"type":"ListingImage","pagination":{}}'
  recorded_at: Sat, 25 Feb 2017 01:05:05 GMT
[...]
