---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/shops/TheBeadsofDreams?api_key=4j3amz573gly866229iixzri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - 3hXM0Fly2DVExL71Dmr14OQ6-OSw
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9836'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"shop_id":6477564,"shop_name":"TheBeadsofDreams","user_id":15640316,"creation_tsz":1313536881,"title":"Jewelry
        supplies and beads ~ The Beads of Dreams","announcement":"NEWSLETTER: We run
        frequent limited-time Sales for our Etsy store - Be the first to know when
        they go live - Signup for our Newsletter at thebeadsofdreams.com\/etsy\n\nCOUPON
        CODES: make sure to use the coupon code at checkout to get the sale price:
        (We do not refund once payment is made.)\n\nWHOLESALE5 for 5% Off, Minimum
        purchase $100 USD\nWHOLESALE10 for 10% Off, Minimum purchase $175 USD\nWHOLESALE15
        for 15% Off, Minimum purchase $250 USD\n\n\n~ Subscribe to our newsletter:
        thebeadsofdreams.com\/etsy\n~ Facebook: www.facebook.com\/TheBeadsofDreams\n~
        Twitter: @Thebeadsofdreams\n~ Instagram: instagram.com\/thebeadsofdreams\/\n\nJe
        parle fran\u00e7ais alors n&#39;h\u00e9sitez pas si vous avez des questions.\n\n\n~
        ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~\nDELIVERY TIME:\n\nCanada: 1 - 2 weeks\nUSA:
        1 - 3 weeks\nInternational: 1 - 6 weeks\n\nTo keep our postage costs down,
        the shipping cost do not include insurance or tracking. If you would like
        faster or insured shipping, please convo me for details and shipping quotes.","currency_code":"USD","is_vacation":false,"vacation_message":null,"sale_message":"Thank
        you for your purchase. Your purchase will be send in the following two business
        days after receiving your payment. \r\n\r\nNEWSLETTER: We run frequent limited-time
        Sales for our Etsy store - Be the first to know when they go live - Signup
        for our Newsletter at thebeadsofdreams.com\/etsy\r\n\r\n~ Facebook: www.facebook.com\/TheBeadsofDreams\r\n~
        Twitter: @Thebeadsofdreams\r\n~ Instagram: instagram.com\/thebeadsofdreams\/\r\n\r\nCaroline
        ~ The Beads of Dreams","digital_sale_message":"Thank you for your purchase
        from The Beads of Dreams. :)\r\n\r\nAfter purchasing a digital file, you will
        see a link to the Downloads page. From there you can download all the files
        associated with your order. Downloads are available once your payment is confirmed.
        If you paid with PayPal or a credit card on Etsy, confirmation may take a
        few minutes. \r\n\r\nTo read more on how to download a digital file through
        Etsy, go to:  &quot;How do I download a digital item I purchased?&quot;\r\nhttps:\/\/www.etsy.com\/help\/article\/3949\r\n\r\nDue
        to the nature of digital items, all Sales Are Final.\r\n\r\n~ Subscribe to
        our newsletter: http:\/\/eepurl.com\/i-whD \r\n~ Facebook: www.facebook.com\/TheBeadsofDreams\r\n~
        Twitter: @Thebeadsofdreams\r\n\r\nCaroline ~ The Beads of Dreams\r\n","last_updated_tsz":1488298819,"listing_active_count":1521,"digital_listing_count":0,"login_name":"TheBeadsofDreams","accepts_custom_requests":true,"policy_welcome":"Welcome
        to my Etsy shop. :)\n\n~ Subscribe to our newsletter: http:\/\/www.thebeadsofdreams.com\/etsy\n~
        Facebook: www.facebook.com\/TheBeadsofDreams\n~ Twitter: @Thebeadsofdreams\n~
        Instagram: instagram.com\/thebeadsofdreams\/","policy_payment":"I accept payment
        through Paypal, credit cards and Etsy gift cards.","policy_shipping":"FAST
        SHIPPING ~ Shipping is daily Monday through Friday\n\nWhen I receive payment,
        I ship. All packages will be shipped only to the address provided with Paypal
        or Etsy. If you are ordering outside of Canada, your order may be charged
        customs fees ~ taxes, duties, processing fees, etc. ~ when it arrives. The
        shipping charges you pay do not include customs fees. If you are not familiar
        with the customs fees in your country, please check with your local customs
        office for more information. My shipping and handling fees cover the cost
        for mailing, packaging, and handling.\n\nThe shipping times are estimates
        NOT guarantees.\n\nCanada: I ship Canada Post lettermail\nUSA: I ship light
        packet (Canada Post advises 1 - 3 weeks for delivery)\nInternational: I ship
        light packet (Canada Post advises 1 - 6 weeks for delivery)\n\nThese methods
        do not include insurance or tracking. If you would like faster or insured
        shipping, please convo me for details and shipping quotes.\n\nI will inform
        you when I&#39;ll post your purchase.\n\n***Please make sure that your shipping
        address is current and correct. it is the buyers responsibility to pay &quot;re-shipping&quot;
        fees if an incorrect address was provided.","policy_refunds":"If you are unhappy
        with your purchase, please convo me and return it within 14 days upon reception.
        You will be reimbursed for your purchasing price only - not shipping. Products
        must be in condition received. Buyer is responsible for paying return shipping.
        Once returned item is received, I will issue a credit within 3 days.","policy_additional":"Dear
        Canadian customers, please note that due to various government rules \r\nand
        regulations, I must collect the appropriate taxes based on your \r\nprovince.
        (GST or HST or TVQ)","policy_seller_info":"","policy_updated_tsz":1486953914,"policy_has_private_receipt_info":false,"vacation_autoreply":null,"url":"https:\/\/www.etsy.com\/shop\/TheBeadsofDreams?utm_source=madmimi&utm_medium=api&utm_campaign=api","image_url_760x100":"https:\/\/img1.etsystatic.com\/158\/0\/6477564\/iusb_760x100.24535715_pm9n.jpg","num_favorers":7196,"languages":["en-US","fr"],"upcoming_local_event_id":null,"icon_url_fullxfull":"https:\/\/img0.etsystatic.com\/177\/0\/6477564\/isla_fullxfull.23633032_o1z2qk4c.jpg","is_using_structured_policies":false,"has_onboarded_structured_policies":true,"has_unstructured_policies":true,"custom_shops_state":0,"include_dispute_form_link":false}],"params":{"shop_id":"TheBeadsofDreams"},"type":"Shop","pagination":{}}'
  recorded_at: Tue, 28 Feb 2017 20:29:16 GMT
- request:
    method: get
    uri: https://openapi.etsy.com/v2/shops/6477564/listings/active?api_key=4j3amz573gly866229iixzri&includes=MainImage&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - WBPm6k5irJd533zyPUQ9LTYAsnw4
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9835'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1521,"results":[{"listing_id":269803730,"state":"active","user_id":15640316,"category_id":69150433,"title":"13mm
        Mixed color button - resin button - craft button - Round buttons - 4 holes
        (1608) - Flat rate shipping","description":"\u2665 \u2665 \u2665 Flat rate
        shipping! (United States and Canada)\n\n\n\nMaterial: Resin\nColor: Mixed
        colors\nSize: about 13mm, 2mm thick, hole: 1.5mm\n\n*** Color combinations
        can vary from lot to lot ***\nButtons will be randomly selected so we can&#39;t
        garantee the colors you will receive. We will try to mix as many colors as
        we are able. This is a mixed listing only. No color choosing.\n\nPlease note
        that colors may appear differently depending on your computer monitor.\n\nThank
        you for looking, please contact me with any questions.\n\nClick here to see
        more buttons from this shop: http:\/\/etsy.me\/191FqDS\n\n-:~:-\u2022**\u2022-:~:-\n\n\n~~~***~~~
        \n\nWant to upgrade the shipping to USA or to Canada? http:\/\/etsy.me\/28SSmC5\n\n\u2600
        Return to my shop here:\nhttps:\/\/www.etsy.com\/shop\/thebeadsofdreams\n\n\ud83d\udc8c
        Signup for our Newsletter at  http:\/\/thebeadsofdreams.com\/etsy","creation_tsz":1488298818,"ending_tsz":1498663218,"original_creation_tsz":1456415741,"last_modified_tsz":1488298818,"price":"2.20","currency_code":"USD","quantity":10,"tags":["button","sew","sewing","fun
        button","jewelry buttons","crafting buttons","mixed color button","wholesale
        button","mix button","round flat button","13mm round button","13mm","four
        holes button"],"category_path":["Supplies"],"category_path_ids":[69150433],"materials":["resin"],"shop_section_id":18041389,"featured_rank":null,"state_tsz":1456415741,"url":"https:\/\/www.etsy.com\/listing\/269803730\/13mm-mixed-color-button-resin-button?utm_source=madmimi&utm_medium=api&utm_campaign=api","views":19,"num_favorers":219,"shipping_template_id":11775798,"processing_min":1,"processing_max":2,"who_made":"someone_else","is_supply":"true","when_made":"2010_2017","item_weight":null,"item_weight_units":null,"item_length":null,"item_width":null,"item_height":null,"item_dimensions_unit":"in","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","language":"en-US","has_variations":true,"taxonomy_id":744,"taxonomy_path":["Craft
        Supplies & Tools","Sewing & Needlecraft Supplies","Buttons & Fasteners"],"used_manufacturer":false,"MainImage":{"listing_image_id":929001800,"hex_code":null,"red":null,"green":null,"blue":null,"hue":null,"saturation":null,"brightness":null,"is_black_and_white":null,"creation_tsz":null,"listing_id":269803730,"rank":null,"url_75x75":"https:\/\/img0.etsystatic.com\/121\/0\/6477564\/il_75x75.929001800_fn4a.jpg","url_170x135":"https:\/\/img0.etsystatic.com\/121\/0\/6477564\/il_170x135.929001800_fn4a.jpg","url_570xN":"https:\/\/img0.etsystatic.com\/121\/0\/6477564\/il_570xN.929001800_fn4a.jpg","url_fullxfull":"https:\/\/img0.etsystatic.com\/121\/0\/6477564\/il_fullxfull.929001800_fn4a.jpg","full_height":null,"full_width":null}},{"listing_id":269696685,"state":"active","user_id":15640316,"category_id":69150433,"title":"13mm
        Mixed color button - resin button - craft button - Round buttons - 4 holes
        (1603) - Flat rate shipping","description":"\u2665 \u2665 \u2665 Flat rate
        shipping! (United States and Canada)\n\n\n\nMaterial: Resin\nColor: Mixed
        colors\nSize: about 13mm, 2mm thick, hole: 1.5mm\n\n*** Color combinations
        can vary from lot to lot ***\nButtons will be randomly se[...]
