---
http_interactions:
- request:
    method: get
    uri: http://openapi.etsy.com/v2/shops/FabBeads?api_key=4j3amz573gly866229iixzri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9996'
      X-Etsy-Request-Uuid:
      - BSH4_XDuZy50kJ5XREd4yR_M7jv7
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"shop_id":5262404,"shop_name":"FabBeads","user_id":5682253,"creation_tsz":1204836050,"title":"Trinity
        Brass, Glass Beads, Tierracast, Chain, Mykonos","announcement":"$2 Flat rate
        shipping within Canada! Buy Canadian and save on shipping.\r\n\r\nTrinity
        Brass findings, charms, pendants & connectors, Tierracast pewter,\r\nCzech
        glass beads, rhinestones & buttons, chain, copper, Vintaj brass, Mykonos ceramic
        beads, handmade lampwork and more!\r\n\r\nLike my Facebook page and click
        the &#39;My Etsy Shop&#39; tab there for an instant coupon https:\/\/www.facebook.com\/FabBeads\r\n\r\n***I
        have changed my listings to reflect actual stock available, so you will be
        able to purchase multiples without asking for reserved listings.\r\n\r\n***Canadian
        Buyers will be charged applicable sales tax at checkout. \r\n\r\n***Feel free
        to convo with questions about the products, or tips on how to use them. I
        answer every conversation very quickly.***\r\n\r\n***Looking for something
        in particular? Just type in key words or the item number in the search bar
        on my home page.\r\n\r\n***I have great shipping prices. Flat rates of $2
        to Canada, $3.50 to the US and $6 internationally for most items. Check out
        my Shop Policies page for more details.\r\n\r\n***I&#39;ll include a FREE
        GIFT that compliments your order when you order 5 or more items (that includes
        multiples of one item).\r\n\r\n***If you&#39;re new to Etsy, click this link
        http:\/\/www.etsy.com\/help\/article\/339 for step by step instructions on
        how to purchase.\r\n\r\n***For finished jewelry, check out my other shop:
        Http:\/\/brass lass.etsy.com\r\n\r\n*** Facebook page https:\/\/www.facebook.com\/FabBeads","currency_code":"USD","is_vacation":false,"vacation_message":"Hi,\r\nThe
        shop is temporarily closed while I move. I&#39;ll reopen on Tuesday Jan. 19.
        Sorry for the inconvenience. \r\n\r\nI&#39;ve got lots of great new items
        from Trinity Brass coming next week, so be sure to check back. I&#39;ll have
        chain, jump rings, eye pins and head pins, clasps, connectors and earwires
        in Trinity Vintage Patina Brass as well as some fantastic new settings in
        AG, AS & VP. \r\n\r\nI&#39;ve got hammered ring clasps and the Bead Pod toggles
        coming in all 3 colors too! For all you fans of the floral bouquet pendant,
        the antique silver will be back in stock next week. Also, the leaf bead caps
        in antique silver will be back in stock too.","sale_message":"Thank you for
        your order. Orders generally ship within one or two business days. \r\n\r\nApproximate
        shipping times (please take into account that holidays can delay packages
        by a few days):\r\n\r\nCANADA; Delivery time: 3 to 8 days, depending on how
        far you are from BC and how remote you are.\r\n\r\nUSA: Average delivery time:
        4 to 6 business days, depending on how far you are from BC, Canada. Please
        note that sometimes it can take longer.\r\n\r\nEVERYWHERE ELSE: Delivery time:
        1 to 3 weeks, depending on how far away you are from BC, Canada and delays
        by customs.\r\n\r\nTo keep up to date on new items in the shop, like my Facebook
        page at the link on my homepage, or copy and paste: https:\/\/www.facebook.com\/FabBeads\r\n\r\nPlease
        contact me if you have any problems with your order at all. If you can, please
        leave feedback when you receive it so I know that it arrived safely. Check
        back often to see what&#39;s new in the shop, I&#39;m always adding new and
        exciting things. \r\n\r\nHappy designing!\r\nShannon\r\nemail: FabBeads@shaw.ca\r\nhttp:\/\/FabBeads.etsy.com\r\nFacebook:
        https:\/\/www.facebook.com\/FabBeads","last_updated_tsz":1373353934,"listing_active_count":1204,"login_name":"FabBeads","accepts_custom_requests":false,"policy_welcome":"Thanks
        for checking out Fab Beads. Please check back often, I will be adding new
        and exciting jewelery components all the time.\r\n\r\nDon&#39;t hesitate to
        convo me with questions about the products or for tips on how to use them.
        I am happy to share my knowledge with anyone who asks. Many of the items in
        this shop have examples shown of design ideas. Feel free to use those designs
        for inspiration.\r\n\r\nABOUT TIERRACAST PEWTER:\r\n\r\nTradition[...]
- request:
    method: get
    uri: http://openapi.etsy.com/v2/shops/5262404/listings/active?api_key=4j3amz573gly866229iixzri&includes=MainImage&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9995'
      X-Etsy-Request-Uuid:
      - 62W-lmsA2mxvWILYaEmKzdZv8jx0
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1204,"results":[{"listing_id":58430266,"state":"active","user_id":5682253,"category_id":69172175,"title":"Calla
        Lily Pendant Connector Antique Gold Trinity Brass 2 Pc. AG58","description":"These
        antique gold Calla Lily stampings are really nice! Very art nouveau. You could
        use them as a pendant, perhaps dangling a crystal in the centre. They would
        make great connectors too. A focal centerpiece perhaps? There are lots of
        places where you can attach a jump ring and use your imagination to design
        something really special! They would make a great pair of earrings too. So
        many possibilities.\r\n\r\nThese are also available in antique silver, item
        #AS25. You can search this shop by item number in the search bar.\r\n\r\nFrom
        Trinity Brass Co., these are exceptional quality lead & nickel-free brass
        stampings and findings, made in the USA.\r\n\r\nPRICE: $2.75\r\n\r\nQUANTITY:
        2\r\n\r\nSIZE: 1 1\/8\u201d w x 1 \u00bd\u201d l\r\n\r\nFINISH: Trinity Antique
        Gold is  a beautiful rich gold with a shiny finish. This finish is achieved
        through oxidation and is not plated. It is a very elegant and sophisticated
        finish. A special non-chemical process is done to the brass to achieve it&#39;s
        beautiful shine. A non-toxic lacquer is applied to protect the finish. \r\n\r\nMADE
        IN: USA","creation_tsz":1373353934,"ending_tsz":1383984734,"original_creation_tsz":1286549681,"last_modified_tsz":1373353934,"price":"2.75","currency_code":"USD","quantity":12,"tags":["connector","pendant","brass","gold","antique
        gold","flower","calla lily","canada","lily","calla lily stamping","trinity
        brass","gold calla lily","calla lily pendant"],"category_path":["Supplies","Commercial","Findings"],"category_path_ids":[69150433,69151163,69172175],"materials":["brass"],"shop_section_id":5407046,"featured_rank":0,"state_tsz":1362284107,"url":"http:\/\/www.etsy.com\/listing\/58430266\/calla-lily-pendant-connector-antique?utm_source=madmimi&utm_medium=api&utm_campaign=api","views":485,"num_favorers":63,"processing_min":1,"processing_max":2,"who_made":"someone_else","is_supply":"true","when_made":"2010_2013","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_digital":false,"file_data":"","has_variations":false,"MainImage":{"listing_image_id":181508078,"hex_code":null,"red":null,"green":null,"blue":null,"hue":null,"saturation":null,"brightness":null,"is_black_and_white":null,"creation_tsz":null,"listing_id":58430266,"rank":null,"url_75x75":"http:\/\/img0.etsystatic.com\/000\/0\/5262404\/il_75x75.181508078.jpg","url_170x135":"http:\/\/img0.etsystatic.com\/000\/0\/5262404\/il_170x135.181508078.jpg","url_570xN":"http:\/\/img0.etsystatic.com\/000\/0\/5262404\/il_570xN.181508078.jpg","url_fullxfull":"http:\/\/img0.etsystatic.com\/000\/0\/5262404\/il_fullxfull.181508078.jpg","full_height":null,"full_width":null}},{"listing_id":62776650,"state":"active","user_id":5682253,"category_id":69172175,"title":"Hand
        Holding Ring Connector Antique Pewter 2 Pc. AP28","description":"This antique
        pewter hand with ring connector is great for suspending a bead or pendant.
        One side is the front of the hand and the other side is the back of the hand,
        so you can use which ever side you prefer.\r\n\r\nAlso available in Antique
        Gold, item # AG136. http:\/\/www.etsy.com\/listing\/62482804\/hand-holding-ring-connector-antique-gold\r\n\r\nMatching
        clasps: http:\/\/www.etsy.com\/shop\/FabBeads\/search?search_query=hand+hook+and+eye+clasp&order=date_desc&view_type=list&ref=shop_search\r\n\r\nThese
        solid pewter charms and findings are made of an alloy containing tin and copper.  Nickel
        free and lead-compliant (complies with all regulations under the CPSIA and
        California Prop. 65). They are cast from well-carved originals and have excellent
        details.\r\n\r\nPRICE: $2.75\r\n\r\nQUANTITY: 2\r\n\r\nSIZE: 11 mm x 25 mm
   [...]
- request:
    method: get
    uri: http://openapi.etsy.com/v2/shops/MadeUpStore?api_key=4j3amz573gly866229iixzri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9994'
      X-Error-Detail:
      - ! '''MadeUpStore'' is not a valid shop name'
      X-Etsy-Request-Uuid:
      - VQ9_Qb0NBl1QspCF0TGnvDaM5xLm
      X-Cnection:
      - close
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '''MadeUpStore'' is not a valid shop name'
  recorded_at: Tue, 09 Jul 2013 09:23:32 GMT
recorded_with: VCR 2.5.0
