---
http_interactions:
- request:
    method: get
    uri: https://openapi.etsy.com/v2/shops/FabBeads?api_key=4j3amz573gly866229iixzri
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - F3UMuI0mittcHL7HKiqc46vHL1r6
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9829'
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"shop_id":5262404,"shop_name":"FabBeads","user_id":5682253,"creation_tsz":1204836050,"title":"Trinity
        Brass, Glass Beads, Tierracast, Chain, Mykonos","announcement":"It&#39;s here!
        A great selection of new Trinity Brass Matte Black charms, pendants and connectors.
        Coming soon! Trinity Brass Ox!\r\n\r\nFlat rate shipping everywhere!\r\n \r\nTrinity
        Brass findings, charms, pendants & connectors, Tierracast pewter,\r\nCzech
        glass beads, rhinestones & buttons, chain, copper, Vintaj brass, Mykonos ceramic
        beads, handmade lampwork and more!\r\n\r\nStock up and save! 10% off orders
        of $50 or more, before shipping and[...]
- request:
    method: get
    uri: https://openapi.etsy.com/v2/shops/5262404/listings/active?api_key=4j3amz573gly866229iixzri&includes=MainImage&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Etsy-Request-Uuid:
      - ZweqwfkXRcorBX8rJ7gRuOugT7_X
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9828'
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1417,"results":[{"listing_id":170941802,"state":"active","user_id":5682253,"category_id":69172175,"title":"Lever
        Back Ear Wires, Fleur de Lis, Vintage Patina, Trinity Brass 12 Pc.  VP137","description":"With
        exceptional quality, these brass, Fleur de Lis lever back ear wires in Vintage
        Patina will finish off your earring designs perfectly! \r\n\r\nFrom Trinity
        Brass Co., these are exceptional quality lead & nickel-free brass stampings
        and findings. \r\n\r\nAlso available in antique silver: https:\/\/www.etsy.com\/ca\/listing\/170940738\/lever-back-ear-wire-antique-silver-fleur\r\n\r\nPRICE:
        $6.\r\n\r\nQUANTITY: 12 pieces (6 pair)\r\n\r\nSIZE: 16 mm (.63 inch) length\r\n\r\nFINISH:
        Trinity Vintage Patina is a warm chocolate color that has been achieved through
        an oxidation process and is not plated. They are then sealed with a protective
        non-toxic lacquer so that your designs will stay looking like you designed
        them today, even years from now. Nickel-free.\r\n\r\nMADE IN: Korea\r\n\r\nFor
        more lever back ear wires: https:\/\/www.etsy.com\/shop\/FabBeads\/search?search_query=lever+back&order=date_desc&view_type=gallery&ref=shop_search","creation_tsz":1399538992,"ending_tsz":1410166192,"original_creation_tsz":1385592233,"last_modified_tsz":1399538992,"price":"6.00","currency_code":"USD","quantity":5,"tags":["earrings","brass","canada","fabbeads","trinity
        brass","ear wire","earrings finding","lever back","lever back ear wire","vintage
        patina","brass lever back","brass ear wire","fleur de lis"],"category_path":["Supplies","Commercial","Findings"],"category_path_ids":[69150433,69151163,69172175],"materials":["brass"],"shop_section_id":5407051,"featured_rank":null,"state_tsz":1385592233,"url":"https:\/\/www.etsy.com\/listing\/170941802\/lever-back-ear-wires-fleur-de-lis?utm_source=madmimi&utm_medium=api&utm_campaign=api","views":42,"num_favorers":7,"shipping_template_id":11940493,"processing_min":1,"processing_max":2,"who_made":"someone_else","is_supply":"true","when_made":"2010_2014","is_private":false,"recipient":null,"occasion":null,"style":null,"non_taxable":false,"is_customizable":false,"is_digital":false,"file_data":"","language":"en-US","has_variations":false,"used_manufacturer":false,"MainImage":{"listing_image_id":532184547,"hex_code":null,"red":null,"green":null,"blue":null,"hue":null,"saturation":null,"brightness":null,"is_black_and_white":null,"creation_tsz":null,"listing_id":170941802,"rank":null,"url_75x75":"https:\/\/img1.etsystatic.com\/030\/0\/5262404\/il_75x75.532184547_hin8.jpg","url_170x135":"https:\/\/img1.etsystatic.com\/030\/0\/5262404\/il_170x135.532184547_hin8.jpg","url_570xN":"https:\/\/img1.etsystatic.com\/030\/0\/5262404\/il_570xN.532184547_hin8.jpg","url_fullxfull":"https:\/\/img1.etsystatic.com\/030\/0\/5262404\/il_fullxfull.532184547_hin8.jpg","full_height":null,"full_width":null}},{"listing_id":173508054,"state":"active","user_id":5682253,"category_id":69172175,"title":"Lever
        Back Ear Wire, Antique Gold, Fleur de Lis, Trinity Brass 12 Pc. AG231","description":"Exceptional
        quality, nickel-free brass lever back ear wires in antiqued gold, featuring
        a Fleur de Lis design. Lever backs make for a very secure earring.\r\n\r\nFrom
        Trinity Brass Co., these are exceptional quality lead & nickel-free brass
        stampings and findings.\r\n\r[...]
